<!-- ~/Pages/Components/PageCounter.cshtml -->

@model Counter

<div>
  Count: <strong>@Model.Count</strong>

  <form on:submit="@(() => Model.Submit())">
    <button on:click="@(() => Model.Add())">
      Add
    </button>
    <button type="button" on:click="@(() => Model.PushName())">
      Add
    </button>
    <button type="button">
      Add Local
    </button>
    <div> @Model.JoinNames() </div>
    @for (var i = 0; i < Model.Names.Length; i++)
    {
      <div>
        <input type="text" asp-for="Names[i].Id">
        <input type="text" asp-for="Names[i].Nome">
        <span asp-validation-for="Names[i].Nome"></span>
      </div>
    }
  </form>

</div>
